/* Global Style */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/*     form style    */

body {
    background: linear-gradient(to right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    max-width: 700px;
    padding: 25px 0 20px;
}

h1 {
    font-size: 41px;
    font-weight: 600;
    background: linear-gradient(to right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    padding: 20px 0 60px;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.personal-info {
    display: flex;
    justify-content: space-between;
}

.personal-info>div {
    padding: 20px;
}

.personal-info:first-child {
    float: left;
}

input {
    width: 100%;
    border: none;
}

.underline {
    width: 100%;
    height: 2px;
    background-color: darkcyan;
}

.form-row {
    position: relative;
    padding: 10px;
    margin-top: 10px;
}

.form-row>label {
    position: absolute;
    top: 2px;
}

button {
    display: block;
    background: linear-gradient(to right, #9f01ea, #56d8e4);
    padding: 10px 40px;
    color: #ffffff;
    border: none;
}